.box {
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .boxImg {
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    overflow: hidden;

    img {
      overflow: hidden;
      transition: transform 0.5s ease-in-out;
    }
  }

  &:hover {
    .boxImg {
      img {
        overflow: hidden;
        transform: scale(1.1);
      }
    }
  }
}
